.arrow {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;

  border-bottom: 30px solid #ffffff;
}

.arrow-wrapper {
  width: 30px;
  margin: 0 auto;
}
