.box {
  text-align: center;
  font-size: 3em;
  background-color: #dddddd;
  color: #ffffff;
  padding: 20px;
  border-radius: 3px;
  animation: animation 1s ease-in-out infinite;
}

@-webkit-keyframes animation {
  0% {
    background-color: #dddddd;
  }
  50% {
    background-color: #aaaaaa;
  }

  100% {
    background-color: #dddddd;
  }
}
