.box {
  text-align: center;
  font-size: 2.5em;
  background-color: #dddddd;
  color: #444444;
  padding: 20px;
  border-radius: 3px;
  position: relative;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  background-color: rgba(255, 255, 255, 0.2);
  animation: animation 1s ease-in-out infinite;
}

.box span {
  position: relative;
}

@keyframes animation {
  0% {
    left: 0;
  }

  100% {
    left: 90%;
  }
}
