.donut {
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 50px solid #dddddd;
}

@keyframes orbit-big {
  from {
    transform: rotate(0deg) translateX(175px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(175px) rotate(-360deg);
  }
}

.donut-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9b4dca;
  animation: orbit-big 4s linear infinite;
}

.donut-content {
  position: absolute;
}

/* little donut */
.donut-little {
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 12px solid #dddddd;
  margin: 0 auto;
}

@keyframes orbit-little {
  from {
    transform: rotate(0deg) translateX(44px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(44px) rotate(-360deg);
  }
}

.donut-item-little {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #9b4dca;
  animation: orbit-little 2s linear infinite;
}

.primary {
  color: #9b4dca;
}
