.line {
  height: 10px;
  background-color: #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.line-appeared {
  animation: lineAppear 0.3s linear;
}

@keyframes lineAppear {
  from {
    background-color: #e91e63;
    margin-top: -5px;
  }
  to {
    background-color: #dddddd;
    margin-top: 0px;
  }
}
