.queue {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  margin-left: -50%;
}

.queue-item {
  margin-right: 5px;
  position: absolute;
  animation: animate-left 1s linear;
}

.queue-item pre {
  padding-right: 30px;
}

@keyframes animate-left {
  from {
    opacity: 0;
    margin-left: 50%;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}
