.stack {
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;

  width: 200px;
  height: 350px;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-radius: 0 0 3px 3px;
}

.stack-item {
  height: 100px;
  line-height: 100px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #aaaaaa;
  color: #ffffff;
  animation: animate-item 0.3s linear;
}

@keyframes animate-item {
  from {
    opacity: 0;
    margin-bottom: 50px;
  }
  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}
