.stack {
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;

  width: 200px;
  height: 350px;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-radius: 0 0 3px 3px;
}

.stack-item {
  height: 100px;
  line-height: 100px;
  margin: 5px;
  background-color: #aaaaaa;
  color: #ffffff;
}
