body {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: transparent;
}

.line-highlight {
  background-color: rgba(255, 255, 255, 0.2);
}

.italic {
  font-style: italic;
}

.m-t-b {
  margin-top: 50px;
}

.m-t {
  margin-top: 2rem;
}

.task-queue-loop {
  position: absolute;
  margin-left: -62px;
  margin-top: 150px;
  animation: make-visible 1s ease-in;
}

@keyframes make-visible {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
